[functional]
# REQUIRED FOR: test_node_network, test_metalsmith, test_node_volume, test_node
#test_node_ident = <name or uuid of node>

# REQUIRED FOR: test_image
#image_path = <path to image that can be used for image tests>

# REQUIRED FOR: test_metalsmith
#provisioning_image_ident = <name or uuid of image>
#provisioning_network_ident = <name or uuid of provisioning network>

# REQUIRED FOR: test_node_volume
#storage_network_ident = <name or uuid of storage network>
#test_volume_ident = <name or uuid of volume accessible by admin>
